		body {
			background-color: #5f5f5f;
		}
		img {
			width: 70%;
			height: auto;
		}
		.header {
			width: 100%;
			overflow: hidden;
			background-color: #00BFFF;
			font-family: Arial;
		}
		.header a {
			float: left;
			font-size: 16;
			color: white;
			text-align: center;
			padding: 14 16;
			text-decoration: none;
		}
		.ddown {
			float: left;
			overflow: hidden;
		}
		.ddown .dbtn {
			font-family: Arial;
			font-size: 16;    
			border: none;
			outline: none;
			color: white;
			padding: 14 16;
			background-color: #00BFFF;
		}
		.header a:hover, .ddown:hover .dbtn {
			background-color: #BAE1F2;
		}
		.ddown-content {
			display: none;
			position: absolute;
			background-color: #FFFFFF;
			min-width: 160;
			box-shadow: 1px 1px 4px #DDDDDD;
			z-index: 1;
		}
		.ddown-content a {
			float: none;
			color: black;
			padding: 12 16;
			text-decoration: none;
			display: block;
			text-align: left;
		}
		.ddown-content a:hover {
			background-color: #DDDDDD;
		}
		.ddown:hover .ddown-content {
			display: block;
		}
		.mycontainer {
			margin: auto;
			background-color: #FFFFFF;
			max-width: 90%;
			min-height: 768px;
			padding: 10%;
		}
		.loginregister {
			padding: 10% 30% 10% 30%;
		}
		.center-block {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.mybook, .myprofile{
			font-size: 120;
		}
		.dusr {
			float: right;
		}
		.clock {
			display: block;
			margin: auto;
			width: 50%;
			color: white;
			font-size: 16;
		}
		.footer {
			width: 100%;
			overflow: hidden;
			background-color: #00BFFF;
			font-family: Arial;
			text-align: center;
			padding: 14 0 0 0;
		}
		.footer a {
			display: block;
			margin: auto;
			width: 50%;
			color: white;
			font-size: 16;
			padding: 14 16;
		}
