/* BASIC CSS */
		body {
			background-color: #5f5f5f;
		}
		hr {
			margin: 0;
			border-width: 3px;
			border-color: #DB2C30;
		}
		.center-block {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
/* LOGO */
		.logo {
			width: 150px;
			height: auto;
			padding: 0px 0px 0px 0px;
		}
		
/* TOP WINDOW + HEADER + DDOWN */
		.header a:hover, .topwindow a:hover, .ddown:hover .dbtn {
			background-color: #F7F7F7;
			color: #DB2C30;
		}
	/* TOP WINDOW + HEADER */
		.header, .topwindow{
			width: 100%;
			overflow: hidden;
			background-color: #DB2C30;
			font-family: Arial;
		}
		.header a, .topwindow a{
			height: 50px;
			float: left;
			font-size: 16px;
			color: #F7F7F7;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}	
	/* TOPWINDOW */
		.topwindowcontainer {
			position:relative;
			padding-left:7%;
			padding-right:7%;
			background-color: #F7F7F7;
			box-shadow: 0px 1px 2px #DDDDDD;
		}
	/* DDOWN */
		.ddown {
			float: left;
			overflow: hidden;
		}
		.ddown .dbtn {
			font-size: 16px;
			height: 50px;
			border: none;
			outline: none;
			color: #F7F7F7;
			padding: 14px 16px;
			background-color: #DB2C30;
		}
		.ddown-content {
			display: none;
			position: absolute;
			background-color: #FFFFFF;
			min-width: 100px;
			box-shadow: 1px 1px 4px #DDDDDD;
			z-index: 1;
		}
		.ddown-content a {
			height: 50px;
			float: none;
			color: black;
			padding: 14px 16px;
			text-decoration: none;
			display: block;
			text-align: left;
		}
		.ddown-content a:hover {
			background-color: #DDDDDD;
		}
		.ddown:hover .ddown-content {
			display: block;
		}
		
/* MMTOPWINDOW */
		.Mtopwindow {
			width: 100%;
			overflow: hidden;
			background-color: #DB2C30;
			font-family: Arial;
		}
		.MtopwindowBtn {
			height: 50px;
			float: right;
			font-size: 16px;
			color: #F7F7F7;
			text-align: center;
			padding: 7px 16px;
			text-decoration: none;
		}
		.MtopwindowBtn:hover, .MtopwindowBtn:focus {
			background-color: #F7F7F7;
			color: #DB2C30;
			text-decoration: none;
		}
		.Mtopwindow-content {
			display: none;
			position: absolute;
			background-color: #FFFFFF;
			min-width: 100%;
			box-shadow: 1px 1px 4px #DDDDDD;
			z-index: 1;
		}
		.Mtopwindow-content a {
			height: 50px;
			color: black;
			font-size: 16px;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			text-align: left;
			z-index: 1;
		}
		.Mtopwindow-content a:hover {
			background-color: #DDDDDD;
			color: #DB2C30;
			z-index: 1;
		}
		.Mtopwindow-show {display: block;}
		
/* IMAGE SLIDER */
	/*
		.slider {
			width: auto;
			max-height: 250px;
			overflow: hidden;
		}
		.slider img {
			width: 100%;
			height: auto;
			min-height: 250px;
			overflow: hidden;
			margin: -10px 0px 0px 0px;
		}
	*/
		.product {
			width: 70%;
			height: auto;
		}
		
/* MYCONTAINER */
		.mycontainer {
			margin: auto;
			margin-top: 2%;
			margin-bottom: 2%;
			background-color: #FFFFFF;
			max-width: 90%;
			min-height: 768px;
			padding: 3% 10% 3% 10%;
		}
		
/* LOGIN + REGISTER */
		.loginregister {
			padding: 10% 30% 10% 30%;
		}

/* FOOTER */
		.footer {
			color: white;
			width: 100%;
			overflow: hidden;
			background-color: #DB2C30;
			font-family: Arial;
			text-align: center;
			padding: 1%;
		}
		
/* FLOAT RIGHT */
		.floatright {
			float: right;
		}

