/* BASIC CSS */
		body {
			background-color: #55688A;
			font-family: 'Barlow', sans-serif;
		}
		hr {
			margin: 0;
			border-width: 3px;
			border-color: #DB2C30;
		}
		.center-block {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
/* MYCONTAINER */
		.mycontainer {
			margin: auto;
			margin-top: 2%;
			margin-bottom: 2%;
			background-color: rgba(253, 253, 253, 0.95);
			max-width: 90%;
			min-height: 768px;
			padding: 3% 10% 3% 10%;
		}

	/* for display with more than 1920px width */
		@media screen and (min-width: 1920px) {
			.mycontainer {
				margin: auto;
				margin-top: 2vh;
				margin-bottom: 2vh;
				background-color: rgba(253, 253, 253, 0.95);
				max-width: 90vh;
				min-height: 768px;
				padding: 3vh 7vh 3vh 7vh;
			}
		}
		.myexpander {
			min-height: 100vh;
			overflow: auto;
		}
